.home {
  width: 100%;

  .container {
    @media screen and (max-width: $tablet) {
      padding: 0;
    }
  }
}

.home-banner {

  &__wrapper {
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.home-banner__item {
  width: 100%;
  position: relative;
  padding-bottom: 50%;

  @media screen and (max-width: $tablet) {
    padding-bottom: 100%;
  }
}