.works {
    &__image {
        position: relative;
        width: 100%;
        padding-bottom: 80%;
        margin-bottom: 5rem;

        @media screen and (min-width: $tablet) {
            width: 60%;
            margin-right: 4rem;
            margin-bottom: 0;
            padding-bottom: 35%;
        }

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            object-fit: cover;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @media screen and (min-width: $tablet) {
            flex-direction: row;
        }
    
        &:not(:last-child) {
            margin-bottom: 10rem;

            @media screen and (min-width: $tablet) {
                margin-bottom: 4rem;
            }
        }
    
        h3 {
            margin-top: 0;
            margin-bottom: 1rem;
        } 
    }

    &__content {
        width: 100%;

        @media screen and (min-width: $tablet) {
            width: 40%;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;

        span {
            @include responsive-font(10, 12);
        }
    }
}