/*==== Fonts ====*/
/*==== Fonts sizes ====*/

$header-nav-mobile-ft: 30px;
/*==== Colors ====*/

$white: #fff;
$black: #000;

/*==== Breakpoints ====*/

$desktop-lg: 1440px;
$desktop-md: 1200px;
$desktop-sm: 992px;
$tablet: 768px;
$tablet-sm: 576px;
$mobile: 480px;